cmd_parsl.slurm.*
logs*
plots/*
runinfo/*
histograms/*
output/*
correction_files/tmp/
fitdir/*
__pycache__/*
config/__pycache__/*
config/fatjet_base/__pycache__/*
config/pt_reweighting/__pycache__/*
lib/__pycache__/*
utils/__pycache__/*
workflows/__pycache__/*
notebooks/.ipynb_checkpoints/*
notebooks/approval/*.png
slurm-*
